.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  padding: 1rem 2rem;
  background-image: url('../../assets/rsbg.jpg');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: top center;
  background-size: auto;
  background-color: black;
}

.headerImg {
  width: 90%;
  max-width: 400px;
  margin-bottom: 1rem;
}
